<div class="card post-cards post-card">
  <div class="card-header">
    <span class="post-title">{{post.title}}</span>
    <span class="right-title post-title">Posted by {{post.user.username}} on {{format_date post.createdAt}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>

<div>
  <button class="btn btn-primary addComment-btn" type="submit">Comment</button>
</div>
<div class="card post-cards comment-box">
    <form class="newcomment">
    <div class="form-group">
        <textarea class="form-control" rows="4" cols="50" id="comment-content" placeholder="Comment goes here..."></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary commentsubmit-btn" type="submit">Submit</button>
    </div>
    </form>
</div>

{{#each post.comments as |comment| }} 
  <div class="card post-cards post-card">
    <div class="card-body">
      <p class="card-text">{{comment.contents}} </br> Posted by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
  </div>
{{/each}}

<script src="js/newcomment.js"></script>