<div class="card post-cards post-card">
  <div class="card-header">
    <span class="post-title">{{post.title}}</span>
    <span class="right-title post-title">Posted by {{post.user.username}} on {{format_date post.createdAt}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>

  <div class="sidebyside">
    <div>
    <button class="btn btn-primary update-btn" type="submit">Update Post</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary delete-btn" data-id="{{post.id}}" type="submit">Delete</button>
    </div>
  </div>

<div class="card post-cards update-box">
  <form class="updatepost">
     <label for="title">
      Title:
    </label>
    <br />
    <textarea id="update-title" rows="2" cols="30">
      {{post.title}}
    </textarea>
    <br />
    <label for="content">
      Content:
    </label>
    <br />
    <textarea id="update-content" name="contents" rows="5" cols="30">
      {{post.contents}}
    </textarea>
    <div class="form-group">
      <button class="btn btn-primary postupdate-btn" type="submit">Submit</button>
    </div>
  </form>
</div>

{{#each post.comments as |comment| }} 
  <div class="card post-cards post-card">
    <div class="card-body">
      <p class="card-text">{{comment.contents}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/update-delete.js"></script>